.wrapper {

  .inner {
    width: 100%;

    .banner {
      width: 100%;
      height: 400px;
      background: #efefef;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333;
    }

    .offer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      .offerItem {
        flex: 1;
        height: 150px;
        cursor: pointer;
        padding: 10px;
        border-right: 1px dotted rgba(0, 52, 148, 0.4);
        border-bottom: 1px dotted rgba(0, 52, 148, 0.4);
      }
    }

    .topic {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto 50px;

      .topicInner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        .topicTitle {
          display: flex;
          justify-content: space-between;

          .topicMark {
            font-size: 20px;
            font-weight: bold;
          }

          .topicBars {
            display: flex;
            align-items: center;

            .topicBar {
              width: 120px;
              height: 70px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px dotted rgba(0, 52, 148, 0.4);
              border-right: none;
              cursor: pointer;
            }

            .topicBar:last-child {
              border-right: 1px dotted rgba(0, 52, 148, 0.4);
            }

            .topicBarActive {
              border-bottom: none;
              border-top: 3px solid #3da0e0;
            }
          }
        }

        .topicContent {

        }
      }
    }
  }
}
